@import "./reset.css";
@import "./theme.css";
@import "./base.css";

/* 제목 컴포넌트 스타일링 */
.device-name {
  --text-size: var(--large-text);
  --text-color: var(--white);

  font-size: var(--text-size);
  font-weight: 700;
  color: var(--text-color);
  text-align: center;

  @media (min-width: 1024px) {
    --text-size: var(--extra-large-text);

    font-size: var(--text-size);
  }
}

/* 본문 컴포넌트 스타일링 */
.subhead {
  --text-size: var(--base-text);
  --text-color: var(--white);
  --line-height: var(--line-normal);

  font-size: var(--text-size);
  color: var(--text-color);
  line-height: var(--line-height);
  text-align: center;

  @media (min-width: 1024px) {
    --text-size: var(--medium-text);

    font-size: var(--text-size);
  }
}

/* 출시일 컴포넌트 스타일링 */
.callout {
  --text-size: var(--small-text);
  --text-color: var(--gray);

  font-size: var(--text-size);
  color: var(--text-color);
  text-align: center;
}

/* 버튼 컴포넌트 스타일링 */
.button {
  --padding-block: var(--x-small-spacing);
  --padding-inline: var(--small-spacing);
  --background-color: var(--blue-100);
  --text-color: var(--white);

  /* border: 1px solid red; */
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  border-radius: 100px;
  background: var(--background-color);
  color: var(--text-color);

  &:hover {
    --background-color: var(--blue-300);

    background: var(--background-color);
  }
}
.button.price {
  --text-color: var(--blue-100);
  --border-color: var(--blue-100);
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);

  &:hover {
    --background-color: var(--blue-100);
    --text-color: var(--white);

    background: var(--background-color);
    color: var(--text-color);
  }
}

/* 카드 컴포넌트 스타일링 */

.card:nth-child(even) {
  .device-name {
    --text-color: var(--black);
    color: var(--text-color);
  }

  .subhead {
    --text-color: var(--black);
    color: var(--text-color);
  }

  & .button {
    --background-color: var(--black);

    background: var(--background-color);
  }

  & .button.price {
    --border-color: var(--black);
    --text-color: var(--black);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    background: transparent;

    &:hover {
      --background-color: var(--black);
      --text-color: var(--white);

      background: var(--background-color);
      color: var(--text-color);
    }
  }
}

.card {
  --block-size: var(--size);
  block-size: var(--block-size);
  padding-block-start: var(--large-spacing);
  display: flex;
  flex-flow: column nowrap;
  gap: var(--small-spacing);

  @media (min-width: 1024px) {
    padding-block: var(--extra-large-spacing);
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--base-spacing);
    .button {
      display: inline-block;
    }
    text-align: center;
  }
}
